@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" style="font-weight: 700;font-size:57px; color:#33a6b9">VacinePet!</h1>
        <p  style="font-size:20px;">Conheça as funções do projeto:</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle" style="font-weight: 700; color:#006777; ">Cadastrar</h2>
            <p style="width:350px;">A função "Cadastrar" no site VacinePet é destinada a adicionar novos pets ao sistema, inserindo todas as informações necessárias sobre cada animal. </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle" style="font-weight: 700; color: #006777;">Editar</h2>
            <p style="width:350px;">A função "Editar" no site VacinePet permite aos usuários atualizar ou corrigir as informações dos pets cadastrados no sistema. Esta função é fundamental para manter os dados precisos e atualizados. </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle" style="font-weight: 700; color: #006777;">Apagar</h2>
            <p style="width:350px;">A função "Apagar" no site VacinePet permite aos usuários remover um pet cadastrado do sistema. Essa função é útil quando um pet não precisa mais ser gerenciado no site, seja por adoção, falecimento, ou qualquer outro motivo.  </p>
        </section>
      
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle" style="font-weight: 700; color: #006777;">Visualizar</h2>
                <p style="width:350px;"> A função "Apagar", permite visualizar várias informações importantes e específicas sobre cada animal, o que facilita o acompanhamento e a gestão dos dados dos pets. </p>

            </section>
     
    </div>
</main>